<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="E1-PRO_EVT2.0_V12_260730">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.10133 0.00050345 1.811"
        rpy="0 0 0" />
      <mass
        value="472.28" />
      <inertia
        ixx="491.67"
        ixy="-3.2459E-05"
        ixz="0.10753"
        iyy="491.76"
        iyz="0.0013991"
        izz="2.7913" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.92157 0.63529 0.7451 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="platform_link">
    <inertial>
      <origin
        xyz="0.076062 0.11151 1.3066"
        rpy="0 0 0" />
      <mass
        value="34.753" />
      <inertia
        ixx="0.40542"
        ixy="-5.8606E-07"
        ixz="-0.0089709"
        iyy="0.62626"
        iyz="3.6497E-07"
        izz="0.47787" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/platform_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.63922 0.2 0.7451 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/platform_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="platform_joint"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="platform_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1"
      upper="1"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="arm_base_link">
    <inertial>
      <origin
        xyz="-2.582E-05 -8.4725E-05 0.035177"
        rpy="0 0 0" />
      <mass
        value="4.7258" />
      <inertia
        ixx="0.00543"
        ixy="5.9447E-06"
        ixz="-3.9261E-06"
        iyy="0.0054476"
        iyz="-1.2883E-05"
        izz="0.0052996" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/arm_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.31765 0.24706 0.42353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/arm_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_base_joint"
    type="fixed">
    <origin
      xyz="0.1145 0.2905 1.5345"
      rpy="0 0 -1.5707963" />
    <parent
      link="platform_link" />
    <child
      link="arm_base_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link1_L">
    <inertial>
      <origin
        xyz="0.00002347 0.00557150 -0.03075998"
        rpy="0 0 0" />
      <mass
        value="1.9705" />
      <inertia
        ixx="0.00492293"
        ixy="0.00000550"
        ixz="0.00000193"
        iyy="0.00526513"
        iyz="0.00033232"
        izz="0.00188107" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/Link1_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/Link1_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1_L"
    type="revolute">
    <origin
      xyz="0 0 0.1745"
      rpy="0 0 0" />
    <parent
      link="arm_base_link" />
    <child
      link="Link1_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1067"
      upper="3.1067"
      effort="108"
      velocity="3.1416" />
  </joint>
  <link
    name="Link2_L">
    <inertial>
      <origin
        xyz="0.00013483 0.06170460 0.00950639"
        rpy="0 0 0" />
      <mass
        value="2.24398" />
      <inertia
        ixx="0.01194933"
        ixy="0.00000336"
        ixz="0.00000091"
        iyy="0.00361581"
        iyz="-0.00132804"
        izz="0.01098356" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/Link2_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/Link2_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2_L"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="Link1_L" />
    <child
      link="Link2_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.0944"
      upper="2.0944"
      effort="108"
      velocity="3.1416" />
  </joint>
  <link
    name="Link3_L">
    <inertial>
      <origin
        xyz="0.00968562 0.00246599 -0.04627302"
        rpy="0 0 0" />
      <mass
        value="1.9242" />
      <inertia
        ixx="0.00718224"
        ixy="0.00004413"
        ixz="0.00089552"
        iyy="0.00762563"
        iyz="0.00022096"
        izz="0.00178597" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/Link3_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/Link3_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3_L"
    type="revolute">
    <origin
      xyz="0 0.287 0"
      rpy="-1.5708 0 0" />
    <parent
      link="Link2_L" />
    <child
      link="Link3_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1067"
      upper="3.1067"
      effort="66"
      velocity="3.1416" />
  </joint>
  <link
    name="Link4_L">
    <inertial>
      <origin
        xyz="0.00850411 -0.04718223 0.00941509"
        rpy="0 0 0" />
      <mass
        value="1.6085" />
      <inertia
        ixx="0.00580480"
        ixy="-0.00066669"
        ixz="-0.00012722"
        iyy="0.00223807"
        iyz="0.00070523"
        izz="0.00533060" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/Link4_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/Link4_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4_L"
    type="revolute">
    <origin
      xyz="0.018 0 0"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="Link3_L" />
    <child
      link="Link4_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.5307"
      upper="1.0472"
      effort="66"
      velocity="3.1416" />
  </joint>
  <link
    name="Link5_L">
    <inertial>
      <origin
        xyz="0.00051127 0.00101064 -0.11271739"
        rpy="0 0 0" />
      <mass
        value="2.0883" />
      <inertia
        ixx="0.00626603"
        ixy="0.00004009"
        ixz="0.00005338"
        iyy="0.00564387"
        iyz="-0.00006193"
        izz="0.00243632" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/Link5_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/Link5_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint5_L"
    type="revolute">
    <origin
      xyz="0.018 -0.314 0"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="Link4_L" />
    <child
      link="Link5_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1067"
      upper="3.1067"
      effort="18"
      velocity="3.1416" />
  </joint>
  <link
    name="Link6_L">
    <inertial>
      <origin
        xyz="0.00032659 0.00531336 -0.00030182"
        rpy="0 0 0" />
      <mass
        value="0.72496" />
      <inertia
        ixx="0.00046040"
        ixy="0.00000189"
        ixz="0.00000083"
        iyy="0.00051716"
        iyz="-0.00000346"
        izz="0.00042521" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/Link6_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/Link6_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint6_L"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="Link5_L" />
    <child
      link="Link6_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.0472"
      upper="1.0472"
      effort="18"
      velocity="3.1416" />
  </joint>
  <link
    name="Link7_L">
    <inertial>
      <origin
        xyz="-0.00009108 -0.03153255 0.00889371"
        rpy="0 0 0" />
      <mass
        value="0.68606" />
      <inertia
        ixx="0.00173687"
        ixy="-0.00000345"
        ixz="-0.00000116"
        iyy="0.00089035"
        iyz="0.00030680"
        izz="0.00139406" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/Link7_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/Link7_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint7_L"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="Link6_L" />
    <child
      link="Link7_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="18"
      velocity="3.1416" />
  </joint>
  <link
    name="end_effector_link">
    <inertial>
      <origin
        xyz="3.552E-09 0.0082904 -0.070615"
        rpy="0 0 0" />
      <mass
        value="0.27303" />
      <inertia
        ixx="8.0614E-05"
        ixy="-1.6726E-14"
        ixz="2.6139E-13"
        iyy="8.5026E-05"
        iyz="-1.0721E-06"
        izz="0.00011056" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/end_effector_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/end_effector_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="end_effector_joint"
    type="fixed">
    <origin
      xyz="-0.0083277 -0.17809 0"
      rpy="1.5708 1.5708 0" />
    <parent
      link="Link7_L" />
    <child
      link="end_effector_link" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link
    name="CTU_link">
    <inertial>
      <origin
        xyz="0.1481 0.00028865 0.22331"
        rpy="0 0 0" />
      <mass
        value="7.2262" />
      <inertia
        ixx="0.10321"
        ixy="-5.1492E-06"
        ixz="0.0010512"
        iyy="0.39013"
        iyz="5.0202E-06"
        izz="0.3405" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/CTU_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25882 0.29804 0.56471 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/CTU_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="CTU_joint"
    type="revolute">
    <origin
      xyz="0.45457 0 1.1259"
      rpy="0 0 0" />
    <parent
      link="platform_link" />
    <child
      link="CTU_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="box01_link">
    <inertial>
      <origin
        xyz="-3.1918E-06 -1.7891E-06 0.053174"
        rpy="0 0 0" />
      <mass
        value="8.32" />
      <inertia
        ixx="0.1313"
        ixy="-2.3645E-06"
        ixz="-1.4052E-06"
        iyy="0.17321"
        iyz="1.2583E-06"
        izz="0.24418" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/box01_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.17647 0.3098 0.72157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/box01_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="box01_joint"
    type="fixed">
    <origin
      xyz="-0.12707 0.00066942 0.1791"
      rpy="0 0 0" />
    <parent
      link="CTU_link" />
    <child
      link="box01_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="box02_link">
    <inertial>
      <origin
        xyz="-0.0017604 1.0445E-05 0.067189"
        rpy="0 0 0" />
      <mass
        value="10.895" />
      <inertia
        ixx="0.18772"
        ixy="-1.5939E-06"
        ixz="-0.0033356"
        iyy="0.26668"
        iyz="2.6689E-06"
        izz="0.31499" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/box02_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.3098 0.53725 0.21176 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://E1-PRO_EVT2.0_V12_260730/meshes/box02_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="box02_joint"
    type="fixed">
    <origin
      xyz="-0.25162 0.0004972 1.3028"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="box02_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>